

@media only screen and (max-width: 800px){
    body{
        background-color: black;
        background-image: url('picture.jpeg');
        background-attachment: fixed;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .one{
        position: fixed;
        top:15rem;
        left:5rem;
        font-size: 30px;
        font-style: italic;
        text-align: center;
    }
    /* .two{
        position: fixed;
        top:23rem;
        right:7rem;
        font-size: 30px;
        font-style: italic;
        color:darkgoldenrod;
    }
    .three{
        position: fixed;
        top:28rem;
        left:7rem;
        font-size: 30px;
        font-style: italic;
    }
    .four{
        position: fixed;
        top:33rem;
        right:7rem;
        font-size: 30px;
        font-style: italic;
        color:darkgoldenrod;
    }
    .five{
        position: fixed;
        top:37rem;
        left:9rem;
        font-size: 30px;
        font-style: italic;
        color:darkgoldenrod;
        
    }
     */
    }